.header{
    font-family: "Rubik", serif;
    height: calc(100vh - 80px); 
    display: flex;
    justify-content: center;
}
.main-header{
  position: relative;
  width: 1500px;
  overflow: hidden;
}
.banner-search{
    padding: 10px;
}

.banner-search-main{
    width: 100%;
    padding: 5px 30px;
    border-radius: 10px;
    background-color: rgba(182, 182, 182, 0.216);
}
.search-heading{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
.search-input-box{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.search-input{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    height: 35px;
    width: 100%;
}
.search-input img{
   height: 25px;
   width: 25px;
   padding: 4px;
}
.search-input input{
    background: transparent;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 100%;
}
.search-input input:focus{
    outline: none;
}
.source-location{
    width: 20px;
    height: 20px;
}
.search-button{
    padding: 5px 10px;
    border: none;
    background-size: contain;
    background-color: rgb(0, 168, 0);
    border-radius: 10px;
    color: white;
}
.book-button{
    color: rgb(1, 1, 117);
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    border: 3px solid rgb(1, 1, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 40%;
    background-color: white;
    border-radius: 10px;
} 
.bus{
    position: absolute;
    bottom: -5px;
    left: -150px;
    z-index: 999;
    width: 230px;
    display: flex; 
    animation: moveRight 10s linear infinite;/* Adjust the time as needed */
    animation-duration: 20s;

}
.banner-background{
    height: calc(100vh - 250px);
    position: relative;
}
.background{ 
    height: 100%;
    width: 100%;
    background-size: contain;
    overflow: hidden;
    background-position: bottom;
    background-image: url('../../assets/newBG.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
}
.background-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}
.background-heading h1{
    color: rgb(214, 34, 2);
    font-size: 60px;
    font-weight: 700;
}
.background-heading h3{
    color: green;
    font-size: 30px;
    font-weight: 500;
}

@keyframes moveRight {
    0% {
      transform: translateX(0); /* Start position */
    }
    100% {
      transform: translateX(115vw); /* Move to the full width of the viewport */
    }
  }


@media(max-width:900px){
    .header{
        height: 80vh;
    }
    .banner{
        height: 80%;
        flex-direction: column;
        align-items: center;
    }
    .banner-heading{
        height: 40%;
        margin-bottom: 10px;
        align-content: center;
        justify-items: center;
    }
    .banner-search-main{
        width: 100%;
    }
    .book-button{
        color: rgb(1, 1, 117);
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        border: 3px solid rgb(1, 1, 117);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 40%;
        background-color: white;
        border-radius: 10px;
    }  
}

@media(max-width: 600px){
    .banner-heading h1{
         font-size: 35px;
         height: 60px;
    }
    .banner-heading{
        height: 40%;
    }
    .search-heading{
        font-size: 21px;
    }
}
@media(max-width: 430px){
    .banner-heading h1{
         font-size: 27px;
    }
    .banner-heading p{
        font-size: 17px;
    }
    .banner-heading{
        height: 40%;
        width: 90%;
    }
    .search-heading{
        font-size: 15px;
    }
    .book-button{
        font-size: 14px;
        font-weight: 500;
        height: 25px;
        width: 35%;
        border-radius: 5px;
    } 
    .banner-search-main{
        height: 200px;
    }
    .search-input img{
        height: 15px;
        width: 15px;
    }
    .search-input{
        height: 28px;
    }
    
}


